<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%if session[:user_id]%>
       <h3 id="header_link"><%= link_to 'Coffee Date', opportunities_path %></h3>
      <%else%>
       <h3>Coffee Date</h3>
      <%end%>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id] %>
        <li><%= link_to 'Logout', session_path(current_user), method: :delete %>
      <% else %>
        <%= render partial: 'welcome/signin' %>
      <% end %>
    </ul>

  </div>
</nav>