<div class="jumbotron">
  <h1>Track your job search</h1>
  <p>Job hunting is hard. Monitoring your job hunting progress shouldn't be. Coffee Date is here to help.
    <br><br>

    <a class="btn btn-success btn-lg" id="signupbutton" role="button">Sign Up</a>
    <a class="btn btn-success btn-lg" role="button" id="signinbutton">Login</a>

    <div id="signup">
    <%= render partial: "welcome/signup"%>
    </div>
    <div id='signin'>
      <%= render partial: 'welcome/signin'%>
    </div>
  </p>
</div>
