/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootswatch/lumen/variables"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootswatch/lumen/bootswatch"

#signup
  display: none

#navError p
  margin-bottom: 0px

.jumbotron
  background-image: url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/14/146/146733/po0ldtodtonuh4ncuk5urxf11ezps7ykhd3zh6lat0lge4gyaxxoasg9snojoq7n-o.jpg?1405966272")

.jumbotron h1
  color: white

.jumbotron p
  color: white